-# coding: UTF-8

%div.row
  %div.leaderboard.span12
    %h1 Ekip Sizi Çağırıyor! 
    %div.span6
      %img(src="/ekip.jpg")
    %div.span5
      %h3 Yapılası İşler
      %ul
        %li Gereken sayfaların altına yorum için form giriş ve yorum listesi
        %li Hakkında sayfası yazılacak
        %li İstekler sayfası konabilir
        %li İletişim sayfası yapılacak
        %li 
          Ana sayfa doldurulacak
          %ul
            %li En son etkinlik listesi
            %li Ruby'den haberler
        %li Rails klavuzu modernize edilip siteye konacak
        %li Footer yada başka bir yere Sinatra, Haml, Heroku, Bootstrap kullanıldığı yazmalı
        %li Tek bir yerde saplanmak yerine her taraftan bişeyler ekleyip çeşitlilik sağlamalı
        %li Sinatra site readme tercümesi, kendi sitesine de gönderilebilir
        %li Kitap sayfalarına kitap içinde arama formu
        %li Git ve Github kullanım klavuzu
        %li Hazal çevirisini yayımlayacak 19052012       
        %li Hazal çevirisini yayımlayacak
        %li dnm
        %li değişiklik sonrası
        