-# coding: UTF-8

%h1 Dünyaya Merhaba De Ruby 
%h1 çöişüğÜĞİŞÇÖ

%pre 
	:coderay 
		#!ruby
		
		def ilk_metod
		  puts "Merhaba Dünya"
		end
	
%h3 
	%a(title="Bize Katılın" href="/bize_katilin") Bize Katılın