-# coding: UTF-8

%script(type="text/javascript") 
  window.location = 
  - case isim
    - when "umitka"
      "mailto:ujk7107@gmail.com"
    - when "hazal"
      "mailto:niyaziates77@gmail.com"
  ;
  parent.history.back();