-# coding: UTF-8

%div.row
  %div.span9
    %div.leaderboard
      %h1 Dünyaya Merhaba De Ruby 
      %h2 Akıllı Programcının Tercihi
  %div.span3
    %img(src="http://ruby-tr.heroku.com/ruby-logo2.jpg" alt="Ruby Logo" width="200" height="200")

%br

%div.row
  %div.span12
    %p
      :coderay 
        #!ruby
        
        def ilk_metod
          puts "Merhaba Dünya"
        end
	
%h3 
  %a(title="Bize Katılın" href="/bize_katilin") Bize Katılın