-# coding: UTF-8


%div.row
  %div.span10
    %h1 Stiller Ana Liste
    %h3
      Nesnelerin görünümleriyle uğraşmak ister misiniz? Peki, Green Shoes'da 
      elemanların görünümünü stiller belirler. Bazı durumlarda da tüm bir sınıfı 
      şekillendirmek istersiniz (Mesela tüm linkleri altı çizili yapmak gibi). 

    %hr
    %h4 Çeviren : Ümit Kayacık
  %div.span2
    %form.form-search(action='/k_search' method='GET')
      %input(type="hidden" name="start" value="201")
      %input(type="hidden" name="end" value="238")
      %input.search-query(type="text" name="search_str" style="width: 70px;" placeholder="Ara")
      %button.btn(type="submit")
        %i.icon-search
    = haml :gs_sidebar
%div.row
  %div.span12
    %hr
    %p
      Stilleri kolay farkedersiniz. Genellikle elemanın ilk üretildiğinde belirtilirler.
    %br
    
    :coderay
      #!Ruby
      Shoes.app title: "Bir stil örneği" do
        para 'Green Shoes', align: 'center', size: 50
      end
    %br
    
    %p
      Burada app nesnesinin 
      %b :title 
      stili var. Ve app içindeki paragraf nesnesinde de ortalamak için
      %b :align 
      ve yazının boyunu 50 yapmak için 
      %b :size 
      stilleri var. 
    %p
      Bundan başka her eleman ve slotta ter alan 
      %a(href="/kitap/219#style") style 
      metodu ile stillerin bulunduğu hash yapı değiştirilebilir.
    %p
      %b Not: 
      Green Shoes henüz sadece Shape elemanının stil hash yapısını 
      değiştirebilir.
    %br
    
    :coderay
      #!Ruby
      Shoes.app title: "Bir Stil Örneği" do
        choose = 
          lambda{[red, blue, green, yellow].sample}
        s = star 100, 50, 30, 200, 180, strokewidth: 5
        button 'change colors' do
          s.style stroke: choose.call, fill: choose.call
        end
      end
    %br
    
    %p
      Birçok stiller ayrıca metod olarak da çağrılabilir. 
    %p
      %b Not: 
      Green Shoes bunları metod olarak desteklemez. 
    %br
    
    :coderay
      #!Ruby
      # Henüz mümkün değil
      Shoes.app title: "Bir Stil Örneği" do
        choose = 
          lambda{[red, blue, green, yellow].sample}
        s = star 100, 50, 30, 200, 180, strokewidth: 5
        button 'change colors' do
          s.stroke = choose.call; s.fill = choose.call
        end
      end
    %br
    
    %p
      Tüm Shoes manuali harmanlamak yerine bu sayfaya bakmak , hangi 
      stiller olduğu ve nelerde kullanıldığı konusunda size çok yardımcı olacaktır.
    %br
    
    %a(name=":align")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:align" style="width: 100%;") 
        %big 
          %b :align 
        » a string
    %br
    
    %p
      Ne için: 
      %i banner, caption, incription, para, subtitle, tagline, title 
    %p Yazının nerede olacağı. Seçenekler şunlar:
    %ul
      %li "left" - Yazı sol tarafa yaslanacak
      %li "center" - Yazı ortalanır
      %li "right" - Yazı sağa yaslanacak
    %br
    
    %a(name=":angle")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:angle" style="width: 100%;") 
        %big 
          %b :angle 
        » a number
    %br
    
    %p
      Ne için: 
      %i background, border, line, oval, rect, shape, star
    %p
      Gradient renklendirmeye uygulanacak açı. Normalde gradient renkler 
      yukarıdan aşağıya doğru gider. Eğer 
      %b :angle 
      90 olarak ayarlandıysa soldan sağa doğru olacaktır.
    %br
    
    %a(name=":attach")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:attach" style="width: 100%;") 
        %big 
          %b :attach 
        » a slot or element
    %br
    
    %p
      Ne için: 
      %i flow, stack 
    %p
      Bir slotu diğer bir slot ya da elemana göre tutturur. 
      %b :attach => Window 
      yazarak slotu window'un sol üst köşesine tutturursunuz. Biraz daha 
      gelişmiş şekli ise, 
      %b :top => 10, :left => 10, :attach => Window 
      slot'u window'un sol üstünden 10 piksel sağa ve 10 piksel aşağı 
      tutturacaktır. 
    %p
      Eğer slotun bağlı olduğu eleman hareket ederse slot onunla beraber hareket 
      eder. 
    %p
      %b Not: 
      Green Shoes henüz 
      %b :attach 
      stilini desteklemez. 
    %br
    
    %a(name=":autoplay")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:autoplay" style="width: 100%;") 
        %big 
          %b :autoplay 
        » true or false
    %br
    
    %p
      Ne için: 
      %i video
    %p
      Bağlı video görünmesinin ardından hemen oynatılmaya başlasın mı? 
      Eğer değeri 
      %b true 
      ise video otomatikman oynamaya başlayacaktır.
    %p
      %b Not:
      Green Shoes video desteklemez.
    %br
    
    %a(name=":back")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:back" style="width: 100%;") 
        %big 
          %b :back 
        » true or false
    %br
    
    %p
      Ne için: 
      %i shapes, image, textblocks 
    %p Diğer elemanların arkasına gönderir.
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        rect 100, 100, 100, 100, fill: green
        rect 120, 120, 100, 100, fill: yellow
        para 'hello', left: 150, top: 150, front: true
        oval 150, 150, 100, 100, fill: red
        oval 180, 180, 100, 100, fill: gray, back: true
      end
    %br
    
    %a(name=":bottom")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:bottom" style="width: 100%;") 
        %big 
          %b :bottom 
        » a number
    %br
    
    %p
      Ne için: 
      %i tüm slotlar ve elemanlar 
    %p
      Elemanın alt kenarının piksel koordinatını ayarlar. Elemanın alt kenarı 
      çevreleyenin alt kenarına göre ayarlanır. Yani 
      %b :bottom => 0 
      ile eleman alt kenara yapışır. 
    %p
      %b Not: 
      Green Shoes 
      %b :bottom 
      stilini desteklemez.
    %br
    
    %a(name=":cap")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:cap" style="width: 100%;") 
        %big 
          %b :cap 
        » :curve or :rect or :project
    %br
    
    %p
      Ne için: 
      %i arc, line, shape.
    %p
      Eleman çizgilerinin sonlandırmasının nasıl olacağını belirler, yuvarlatılmış 
      ya da köşeli. Daha fazla bilgi için 
      %a(href="/kitap/212#cap") cap 
      metod açıklamasına bakınız.
    %br
    
    %a(name=":center")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:center" style="width: 100%;") 
        %big 
          %b :center 
        » true or false
    %br
    
    %p
      Ne için: 
      %i arc, image, oval, rect, shape.
    %p
      Elemanın 
      %b :top 
      ve 
      %b :left 
      koordinatlarının elemanın merkezine bağlanacağını gösterir. Eğer 
      %b true 
      olarak ayarlandıysa bu 
      %a(href="/kitap/212#transform") transform 
      metodunun 
      %b :center 
      ayarlanmasına benzer. 
    %p
      %b Not: 
      Green Shoes 
      %b :center 
      stilini desteklemez.
    %br
    
    %a(name=":change")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:change" style="width: 100%;") 
        %big 
          %b :change 
        » a proc
    %br
    
    %p
      Ne için: 
      %i edit_box, edit_line, list_box
    %p
      %b change 
      olayı işleyici rutini bu stilde saklanır. Bir örnek olarak edit_box'un 
      %a(href="/kitap/224#change") change 
      metoduna bakınız.
    %br
    
    %a(name=":checked")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:checked" style="width: 100%;") 
        %big 
          %b :checked 
        » true or false
    %br
    
    %p
      Ne için: 
      %i check, radio 
    %p
      Bu checkbox ya da radio button seçili mi? Eğer 
      %b true 
      değer verilirse eleman seçili olur. Ayrıca 
      %a(href="/kitap/223#checked=") checked= 
      metoduna bakınız.
    %br
    
    %a(name=":choose")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:choose" style="width: 100%;") 
        %big 
          %b :choose 
        » a string
    %br
    
    %p
      Ne için: 
      %i list_box 
    %p
      Listedeki seçili elemanı belirler. Daha fazla bilgi için 
      %a(href="/kitap/227#choose") choose.
    %br
    
    %a(name=":click")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:click" style="width: 100%;") 
        %big 
          %b :click 
        » a proc
    %br
    
    %p
      Ne için: 
      %i arc, arrow, button, check, flow, image, line, link, oval, radio, rect, shape, stack, star.
    %p
      %b click 
      olayı işleyici rutin bu stilde saklanır. Daha fazlası için 
      %a(href="/kitap/214#click") click 
      metoduna bakın.
    %br
    
    
    %a(name=":curve")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:curve" style="width: 100%;") 
        %big 
          %b :curve 
        » a number
    %br
    
    %p
      Ne için: 
      %i background, border, rect.
    %p
      Bu dörtköşe elemanların köşelerinin yarıçapı. Örnek olarak 6 ayarlandıysa
      verilen dörtköşenin köşeleri yarıçapı 6 piksel olacak şekilde yuvarlatılır.
    %br
    
    
    %a(name=":displace_left")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:displace_left" style="width: 100%;") 
        %big 
          %b :displace_left 
        » a number
    %br
    
    %p
      Ne için: 
      %i tüm slot ve elemanlar 
    %p
      Bir şekil, text blok yada herhangi bir şeyi sola ya da sağa hareket 
      ettirir. Bir pozitif sayı verilen sayı kadar piksel sağa kaydırılır; negatif 
      sayı verilirse sola kaydırılır. Bir nesneyi kaydırmak sayfanın orjinal 
      yerlerşimini değiştirmez. Bu stili kullanmadan önce 
      %a(href="/kitap/216#displace") displace 
      dökümanı mutlaka okuyun, çünkü beklemediğiniz bir görüntü olabilir.
    %p
      %b Not: 
      Green Shoes 
      %b :displace_left 
      stilini desteklemez.
    %br
    
    
    %a(name=":displace_top")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:displace_top" style="width: 100%;") 
        %big 
          %b :displace_top 
        » a number
    %br
    
    %p
      Ne için: 
      %i tüm slot ve elemanlar 
    %p
      Bir nesneyi yukarı ya da aşağı kaydırır. Pozitif bir sayı nesneyi aşağı doğru 
      kaydırır; negatif sayı yukarı kaydırır. Bir nesneyi kaydırmak sayfanın orjinal 
      yerlerşimini değiştirmez. Bu stili kullanmadan önce 
      %a(href="/kitap/216#displace") displace 
      dökümanı mutlaka okuyun, çünkü beklemediğiniz bir görüntü olabilir.
    %p
      %b Not: 
      Green Shoes 
      %b :displace_top 
      stilini desteklemez.
    %br 
    
    
    %a(name=":emphasis")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:emphasis" style="width: 100%;") 
        %big 
          %b :emphasis 
        » a string
    %br
    
    %p
      Ne için: 
      %i banner, caption, inscription, para, span, subtitle, tagline, title.
    %p
      Yazıyı vurgulu yapar (genelde eğik yazı yaparak)
    %p
      Bu stilin üç olası değeri vardır:
    %ul
      %li "normal" - Yazı dik olarak yazılır
      %li "oblique" - Yazı eğik yapılır ama roman stilinde
      %li "italic" - Yazı eğik yapılır ama italik stilinde
    %br
    
    
    %a(name=":family")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:family" style="width: 100%;") 
        %big 
          %b :family 
        » a string
    %br
    
    %p
      Ne için: 
      %i banner, caption, inscription, para, span, subtitle, tagline, title.
    %p
      Yazıyı verilen font ailesinde gösterir. String font adını yada adlarını 
      virgülle ayrılmış font adlarını içermelidir.
    %br
    
    
    %a(name=":fill")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:fill" style="width: 100%;") 
        %big 
          %b :fill 
        » a hex code, a rgb array or a range of either
    %br
    
    %p
      Ne için: 
      %i background, banner, border, caption, inscription, para, line, oval, rect, shape, star, subtitle, tagline, title.
    %p
      Arkaplanı boyayan kalemin rengini belirler. Şekiller için bu fill color'dur, 
      şeklin içinin rengi. Bir textblok için bu renk arkaplanı renklendirir. ( 
      fosforlu kalemle çizilmiş gibi )
    %br
    
    
    %a(name=":font")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:font" style="width: 100%;") 
        %big 
          %b :font 
        » a string
    %br
    
    %p
      Ne için: 
      %i banner, caption, inscription, para, subtitle, tagline, title
    %p
      Yazının fontuna ait birçok özelliği belirler. Verilen string oldukça esnek 
      yapıdadır, ama "[FAMILY-LIST] [STYLE-OPTIONS] [SIZE]" biçimlerinden 
      birini alabilir. FAMILY-LIST virgülle ayrılmış bir font family listesidir. 
      STYLE-OPTIONS boşluklarla ayrılmış ve herbiri bir stil belirten kelimeler 
      listesidir (stil, variant, weight, stretch, gravity gibi). SIZE yazının harf 
      boyutunu belirler, mutlak boyut için opsiyonel px birimi eklenir. Bu 
      seçeneklerin herhangi biri olmayabilir. Eğer FAMILY-LIST yoksa default 
      font Arial kullanılır.
    %br
    
    
    %a(name=":front")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:front" style="width: 100%;") 
        %big 
          %b :front 
        » true or false
    %br
    
    %p
      Ne için: 
      %i shapes, image, textblocks
    %p
      Elemanı diğerlerinin önüne getirir.
    %br
    
    
    %a(name=":group")
    %br
    %br
    %p
      %a.btn.btn-inverse(href="#:group" style="width: 100%;") 
        %big 
          %b :group 
        » a string
    %br
    
    %p
      Ne için: 
      %i radio 
    %p
      Radio button'ların hangi gruba ait olduğunu gösterir. Bu ayar olmadığında 
      aynı slottaki radio buttonları grup olur. Radio buttonların "Gruplanması" 
      arka arkaya dizilmesi anlamına gelmez, sadece birinin seçilebilir olduğunu 
      gösterir.
    %p
      Bu stile bir string vererek, radio button aynı grup ismine sahip diğer 
      radio buttonlarla birbirine bağlanır. 
    %br
    
    
    
    

    %h3 Devam Edecek...

    %hr
    %a.btn.btn-large.btn-success.pull-left(href="/kitap/206")
      %i.icon-backward.icon-white 
      Dahili Metodlar
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/208")
      Stiller
      %i.icon-forward.icon-white
