-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Bölüm 3 
    %h4 Çeviren : Ümit Kayacık

%br

%div.row
  %div.span12
    %h3  Stringler ve Range
    %p 
    
      

    47
    %h3 Devam Edecek...
    %hr
    %a.btn.btn-large.btn-success.pull-left(href="/kitap/2")
      %i.icon-backward.icon-white
      Bölüm 2 Sınıf Hiyerarşileri ve Sınıf Değişkenleri
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/3")
      Bölüm 3 Stringler ve Range
      %i.icon-forward.icon-white
    