-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Ruby Kitapları 
    %p
      Bu bölümde tercüme ettiğimiz Ruby kitaplarını bulabilirsiniz.

%br

%div.row
  %div.span4
    %h2 Kurulumun Kitabı
    %p 
      Bu bölümde Ruby Windows kurulumu yanında gelen yardımcı kitabın 
      bir tercümesini bulacaksınız
    %p
      %a.btn.btn-success.btn-large(href="/kitap/1") Kitabı Okuyun	
  %div.span4
    %h2 Programlamayı Öğrenmek
    %p 
      Bu bölümde Hazal hocamın tercüme ettiği kitabın 
      bir tercümesini bulacaksınız
    %p
      %a.btn.btn-success.btn-large(href="/kitap/101") Kitabı Okuyun	
  %div.span4
    %h2 Bize Tercümede Yardım Edin
