-# coding: UTF-8


%div.row
  %div.span10
    %h1 App Nesnesi
    %h3
      Bir App, kodu bir URL'de çalışan tek bir penceredir. URL'ler arasında başkasına 
      geçtiğinizde yeni bir App nesnesi üretilir ve slotlar stacklar ve diğer Green 
      Shoes elemanlarıyla doldurulur.
    %hr
    %h4 Çeviren : Ümit Kayacık
  %div.span2
    %form.form-search(action='/k_search' method='GET')
      %input(type="hidden" name="start" value="201")
      %input(type="hidden" name="end" value="238")
      %input.search-query(type="text" name="search_str" style="width: 70px;" placeholder="Ara")
      %button.btn(type="submit")
        %i.icon-search
    = haml :gs_sidebar
%div.row
  %div.span12
    %p
    

    %h3 Devam Edecek...

    %hr
    %a.btn.btn-large.btn-success.pull-left(href="/kitap/206")
      %i.icon-backward.icon-white 
      Dahili Metodlar
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/208")
      Stiller
      %i.icon-forward.icon-white
