-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Programlamayı Öğrenmek 
    %h4 Çeviren : Niyazi ATEŞ

%br

%div.row
  %div.span12
    %h4 
      %a(href="/kitap/101")İçindekiler <<<
    %br
    %h3 Önsöz
    %br
    %h4 Acknowledgement From Translator :
    %br
    %p I would like to thank Mr. Chris PINE for his kindly permission to translation of this tutorial. I think  that it will be a milestone for Turkish Ruby Newbies learn to program .
    %br
    %p.sag 17. April.2010    Niyazi  ATEŞ   
    %h4 
      Original web site of this tutorial : 
      %a(href="http://pine.fm/LearnToProgram") http://pine.fm/LearnToProgram
    %br
    %h3 Geleceğin Programcısı İçin Başlama Noktası :
    %br
    %br
    %p 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbspHikayemize 2002 yılında başlıyor. Programlamayı insanlara öğretmeyi düşünürken bunu en iyi Ruby dili ile yapabileceğimi düşündüm. 
      Ruby ; güçlü , zarif ve eğlenceli olması ile her zaman bizi heyecanlandırıyordu. 
      Fakat bende uyandırdığı başka bir etki olarak ,   programlamaya başlamanın en iyi yolunun Ruby dili olacağını gördüm. 
    %p
      &nbsp;&nbsp;&nbsp;&nbsp;&nbspNe yazık ki o zamanlar yeni başlayanlar için yeterli Ruby dökümanı yoktu. 
      Ruby ile ilgilenen arkadaşlarla, yeni başlayanlar için böyle bir dökümanın gerekliliğini ve daha genel olarak da  insanlara programlamayı öğretmenin yollarını konuşurduk . 
      Sonunda bunu o kadar çok düşündüm ve söyledim ki bir arkadaşım şöyle dedi : "Chris, konuşup durmak yerine neden kendin bunu yapmıyorsun?" Böylece başladım. 
    %p
      &nbsp;&nbsp;&nbsp;&nbsp;&nbspBu hiç de kolay olmadı . Teoride herşey kolaydı ama programlamacı olmayanlara  bir alıştırma dökümanı hazırlamak düşündüğümden daha büyük çaba gerektiriyordu. 
      (Yani programlamayı iyi bildiğim için bana kolay göründü.) 
    %p
      &nbsp;&nbsp;&nbsp;&nbsp;&nbspBirkaç  yıl sonra işler yoluna girmeye başladı . Artık bitireceğime inanmıştım ve başka bir işe koyuldum , bu da dökümanın bitmesi ile beraber bunun kitap haline getirilmesiydi. 
      Bu benim için fazla zor olmayacaktı herşey bitmişti ve hazırdı. Bazı düzeltmeler , ilave örnekler ve daha fazla alıştırma ekleyerek hazırlık yaptım. 
    %p
      &nbsp;&nbsp;&nbsp;&nbsp;&nbspBu fazladan bir yılımı almıştı. Ama buna değerdi çünkü bir çok cesur yüreğin bana yardımı ile ortaya harika bir kitap çıktı. 
      Buradaki okuyacağınız orjinal döküman ufak değişikliklerle 2004 yılında son halini almıştır. 
    %br
    %p
      Daha fazlası ve son hali için :
      %a(href="http://www.pragprog.com/titles/ltp2/learn-to-program-2nd-edition") http://www.pragprog.com/titles/ltp2/learn-to-program-2nd-edition
    %br
    %h3
      %a.btn.btn-success.btn-large.pull-right(href="/kitap/103") Başlarken >