-# coding: UTF-8


%div.row
  %div.span10
    %h1 Green Shoes'un Kuralları
    %h3
      Green Shoes'un nasıl çalıştığını tahmin etmeyi bırakalım. Bazı hassa noktalar 
      sizi zorlayabilir. Aşağıda Green Shoes'un esas kurallarını sıraladım. Bunları 
      her şeyi sağlıklı çalıştırmak için 
      %b MUTLAKA 
      öğrenmelisiniz
  %div.span2
    = haml :gs_sidebar
%div.row
  %div.span12
    %hr
    %h4 Çeviren : Ümit Kayacık
    %br
    %p 
      Bunlar tüm Green Shoes içindeki genel kurallar. Green Shoes basitlik ve açıklık 
      üzerine kurulduğu için, çalışılacak ve hatırlanacak bir kaç nokta vardır.
    %h1 Shoes İncelikli Bloklar
    %p
      Tamam, burası biraz çetrefilli. Green Shoes bloklarla biraz enteresan davranır. 
      Bu enteresanlık sayesinde kodun okunabilirliği artar. Ama aynı zamanda 
      biraz derinlere dalınca kullanımı güçleştirir.
    %h4 Şimdi bir normal Ruby bloğuna bakalım:
    :coderay
      #!Ruby
      Shoes.app do
        ary = ['potion', 'swords', 'shields']
        ary.each do |item|
          puts item
        end
      end
    %br
    
    %p
      Green Shoes'da bu tip bloklar aynı çalışır. Yukardaki blok bir array 
      elemanları üzerinden bir çevrime girer ve herbirini 
      %code item 
      değişkenine alarak işler. Blok işlenmesi bittiğinde 
      %code item 
      değişkeni de yok olur.
    %p
      Akılda tutulması gereken bir başka nokta da 
      %code self 
      normal Ruby blokları arasında değerini korur. Yani 
      %code each 
      bloğundan önce 
      %code self 
      ne değerdeyse blok içinde de aynı değerdedir.
    %h4 Bu iki nokta birçok Green Shoes bloğu için de geçerlidir.
    :coderay
      #!Ruby
      Shoes.app do
        stack do
          para "First"
          para "Second"
          para "Third"
        end
      end
    %br
    
    %p
      Burada iki bloğumuz var. İlk blok 
      %code Shoes.app 
      nesnesine gönderilir ve bu 
      %code self 
      i değiştirir.
    %p
      Diğer blok ise 
      %code stack 
      bloğu. Bu blok self'i değiştirmez.
    %p
      %b Ne sebeple 
      %code app
      %b bloğu self'i değiştirir? 
      Son örneğimizi irdeleyerek başlayalım.
    %br
    :coderay
      #!Ruby
      Shoes.app do
        self.stack do
          self.para "First"
          self.para "Second"
          self.para "Third"
        end
      end
    %br
    
    %p
      Buradaki tüm 
      %code self 
      ler App nesnesini temsil ediyor. Green Shoes 
      %code app 
      bloğu içinde self'i değiştirmek için 
      %code instance_eval 
      metodunu kullanır. Bu yüzden stack ve para metodlarına yapılan çağrılar 
      app'ye gönderilir.
    %h4 Bu sayede oluşum değişkenleri tüm Shoes uygulaması içinde kullanılabilir:
    :coderay
      #!Ruby
      Shoes.app do
        @s = stack do
          @p1 = para "First"
          @p2 = para "Second"
          @p3 = para "Third"
        end
      end
    %br
    
    %p Bu tüm oluşum değişkenleri App nesnesi içinde geçerlidir.
    %h4
      Yeni bir Shoes.app penceresi üretince 
      %code self 
      değişir.
    :coderay
      #!Ruby
      Shoes.app title: "MAIN" do
        para self
        button "Spawn" do
          Shoes.app title: "CHILD" do
            para self
          end
        end
      end
    %br
    %br
    
    %h1 Blok Yönlendirmesi
    %p
      %code stack 
      bloğu başka bir hikaye. Bu blok 
      %code self 
      i değiştirmez ve normal bir blokdur.
    %p
      %b Fakat bir ince nokta var: 
      Bir 
      %code stack 
      üretir ve ona bir blok bağlarsanız, App nesnesi bu stack'i hafızasına 
      yerleştirir. Blok bitince bu stack de biter. Ve blok içindeki tüm çizimler 
      App'nin en üst rafından yeni stack içine yönlendirilir.
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        stack do
          para "First"
          para "Second"
          para "Third"
        end
      end
    %br
    
    %p Biraz çetrefilli dimi , bu konu bilseniz bile size sorun çıkarabilir.
    %p
      Sizi avlayacağı yerlerden biri , eğer 
      %code app
      bloğu dışında bir yerde stack düzenlemeye kalkarsanız olacaktır.
    %p
      Mesela , bir stack nesnesini alıp düzenlemek için başka bir sınıfa 
      gönderiyorsunuz.
    %br
    
    :coderay
      #!Ruby
      class Messenger
        def initialize slot
          @slot = slot
        end
        
        def add msg
          para msg rescue puts $!
        end
      end
      
      Shoes.app do
        slot = stack
        m = Messenger.new slot
        m.add 'hello'
      end
    %br
    
    %p
      Diyelim uygulama başladığında stack nesnenizi Messenger sınıfınıza 
      gönderdiniz. Ve sonra yeni mesaj gelince 
      %b add 
      metodu bu stack'a paragraf ekleyerek mesajı yazıyor. Sorun var mı, yok?
    %p
      Maalesef, bu çalışmaz. 
      %b para 
      metodunun anlaşılmadığını belirtir bir mesaj verecektir. Çünkü 
      %b App 
      nesnesi içinde değil. Metod App'ye ait habuki.
    %p
      Ne güzel ki, her Shoes nesnesi dışardan bu tip müdahaleler amaçlı bir 
      %b app 
      metoduna sahiptir.
    %br
    
    :coderay
      #!Ruby
      class Messenger
        def initialize slot
          @slot = slot
        end
        
        def add msg
          @slot.app do
            para msg rescue puts $!
          end
        end
      end
      
      Shoes.app do
        slot = stack
        m = Messenger.new slot
        m.add 'hello'
      end
    %br
    
    %p
      Tahmin edeceğiniz gibi, 
      %b app 
      metodu 
      %b self' 
      i App nesnesine çevirir.
    %p Bu durumda kurallar:
    %ol
      %li
        %b "app" metodu veya yeni pencere üreten metodlar 
        %code self'
        %b i App nesnesine çevirir.
        %br
        %p
          (Bu 
          %a(href="/kitap/213#window")window 
          ve 
          %a(href="/kitap/213#dialog")dialog'
          da olduğu gibi Shoes.app ve Slot.app'nin 
          her ikisinde de geçerlidir)
      %li
        %b 
          stack, flow veya herhangi manipulasyon metoduna (mesela append) 
          ilişik bloklar self'i değiştirmez. Yerine bloktakileri app'ye geçirirler.
    %br
    %br
    
    %h1 Sabit Yüksekliklere Dikkat Edin
    %p Slotlarda sabit genişlik ekranı sütunlara bölmek için güzel bir fikir.
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        flow do
          stack :width => 200 do
            background lavender
            caption "Sütun bir"
            para "200 pixel genişlikte"
          end
          stack :width => -200 do
            background bisque
            caption "Sütun iki"
            para "%100 - 200 pixel genişlikte"
          end
        end
      end
    %br
    
    %p
      Slotlarda sabir yükseklik pek kullanılmamalı. Genellikle yazılarınız ve 
      resimlerinizin oldukları kadar aşağı gitmesini istersiniz. Yükseklik genelde 
      doğal şekline bırakılır.
    %p
      Buradaki önemli nokta sabit yükseklikler slotları farklı davranmaya zorlar. 
      Slotun doğru yerden kesildiğine emin olmak için slot bir 
      %b iç pencereye 
      döndürülür. Slotu sabit bir dörtgende tutmak için işletim sistemi 
      tarafından yeni bir katman oluşturulur.
    %p
      Normal slotlar ve iç pencereler arasındaki bir fark, ikincisinin scrollbar 
      alabilmesidir.
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        stack width: 200, height: 200, scroll: true do
          background "#DFA"
          100.times do |i|
            para "Paragraph No. \#{i}"
          end
          flush
        end
      end
    %br
    
    %p 
      Bu iç pencere daha fazla hafıza kullanır. Uygulamayı biraz daha zorlar. 
      Eğer uygulamanızda bir sürü sabit yükseklikli slot var ve yavaşlama 
      sorunu yaşıyorsanız yaklaşımınızı değiştirin.
    %p
      %b Not: 
      Sabit yükseklik meselesi bugüne kadar Green Shoes'a deneme için 
      eklenmişti. Sonuna 
      %b flush 
      metodu eklenmesi gerekir.
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        stack :width => 200 do
          background "#DFA"
          100.times do |i|
            para "Paragraph No. \#{i}"
          end
        end
      end
    %br
    %br
    
    %h1 Resim ve Şekil Blokları
    %p
      Bir çok yeni başlayanın ilk işi ekrana şekiller serpiştirmektir. Tüm karelerinizi 
      ve yuvarlaklarınızı bir slota atmak daha kolaydır.
    %h4
      Ancaak! Şunu unutmayın ki; Shoes tüm bu şekiller için nesne üretecektir. 
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        fill black.push(0.1)
        100.times do |i|
          oval i, i, i * 2 if i > 0
        end
      end
    %br
    
    %p
      Bu örnekte yüz tane yuvarlak nesnesi üretiliyor. Bu kötü değil. Ama 
      eğer bunu tek bir şekil içinde yaparsak nesneler biraz hafifliyecektir. 
    %br
    
    :coderay
      #!Ruby
      # Bu daha Green Shoes'a uygulanmadı
      Shoes.app do
        fill black(0.1)
        shape do
          100.times do |i|
            oval i, i, i * 2 if i > 0
          end
        end
      end
    %br
    
    %p
      Fakat, bir dakika yuvarlakların içi boyanmadı ve boş kaldı. Sebebi yuvarlakların 
      tek bir şekil içine toplanması ve Shoes'un şekilde nereyi boyaması gerektiğini 
      bilememesi. 
    %p
      Bu durumda ancak içi boş çizimlerle çalışırken tek bir şekil altında çalıştırmak 
      istersiniz.
    %p Bir diğer seçenek te tüm yuvarlakları bir resim (image) içinde toplamak
    %br
    
    :coderay
      #!Ruby
      # Bu da daha Green Shoes'a uyarlanmadı
      Shoes.app do
        fill black(0.1)
        image 300, 300 do
          100.times do |i|
            oval i, i, i * 2
          end
        end
      end
    %br
    
    %p
      İşte bu kadar, tüm yuvarlaklar 300 x 300 boyutunda tek bir image üzerinde 
      toplandı. Bu yüz tane yuvarlak nesnesi durumunda image içinde toplamak 
      belki hafıza olarak kar getirmiyor ama binlerce çizim olunca image bloğu 
      size çok şey kazandırır.
    %p
      Önemli olan şu: Çizimlerinizi bir shape ya da image bloğu içinde toplamak 
      çok zor değil. Bir deneyip zamandan tasarrufunuz olup olmayacağını 
      deneyebilirsiniz. 
    %p
      %i not: 
      Bu yazı yazılana kadar Green Shoes'a bu özellik henüz eklenmemişti.
    %br
    
    %h1 UTF-8 Heryerde
    %p
      Ruby'nin kendisi henüz Unicode'la sorunlu. Ve UTF-8 bir çeşit Unicode. 
      (
      %a(href="http://en.wikipedia.org/wiki/UTF-8" target="_blank")wikipedia'
      da UTF-8 açıklamasına bakabilirsiniz)
    %p
      Ancak, UTF-8 web'de çok kullanılır ve birçok platformlar onu destekler. 
      Green Shoes tüm bu tartışmaların haricinde kalmak için tüm stringleri 
      UTF-8 olarak kabul eder.
    %p
      Bu çok iyi çünkü bir çok değerli dili (Türkçe, Japonca, İspanyolca, Rusça 
      vs.) Green Shoes'da UTF-8 kullanarak gösterebilirsiniz.
    %p Bunu denemek için:
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        stack :margin => 10 do
          @edit = edit_box do
            @para.text = @edit.text
          end
          @para = para ""
        end
      end
    %br
    
    %p
      Bu uygulama edit box içine her yazdığınızı bir Green Shoes paragrafında 
      gösterir. Her türlü ingilizce olmayan yazı kopyalayıp yapıştırabilirsiniz. 
    %p
      Bu iyi bir test çünkü edit box'ın UTF-8 karakterler okuduğunu gösterir. 
      Ve paragraflara da her türlü UTF-8 karakteri yazabilirsiniz.
    %p
      %b Önemli not: 
      Eğer bazı UTF-8 karakterleri göremiyorsanız, paragrafın fontunu 
      değiştirmeniz gerekir. Bu Mac OS X makinalarda çok görülmektedir.
    %p
      OS X için iyi bir Japonca fontu 
      %b AppleGothic 
      ve Windows'ta
      %b MS UI Gothic.
    %br
    
    :coderay
      #!Ruby
      Shoes.app do
        para "てすと (te-su-to)",
          font: case RUBY_PLATFORM
            when /mingw/; "MS UI Gothic"
            when /darwin/; "AppleGothic, Arial"
            else "Arial"
          end
      end
    %br
    
    %p
      Bir daha, Green Shoes'da string alan herşey UTF-8 string ister. Edit Box'lar ,
      Edit Line'lar, List Box'lar, Pencere başlıkları ve yazı blokları hepsi UTF-8 
      ister. Eğer geçersiz karakter içeren bir string gönderirseniz konsoola bir 
      hata mesajı çıkacaktır.
    %br
    
    %h1 Main App ve Onun Gerekleri
    %p
      %b NOT: 
      Bu kural Raisins (Shoes v.2) için geçerlidir. Policeman ve Green Shoes 
      TOPLEVEL_BINDING kullanır. 


    %hr
    %a.btn.btn-large.btn-success.pull-left(href="/kitap/203")
      %i.icon-backward.icon-white
      Green Shoes Kurulumu
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/205")
      Shoes
      %i.icon-forward.icon-white
