-# coding: UTF-8

%div.row
  %div.leaderboard
    %h1 Programlamayı Öğrenmek 
    %h4 Çeviren : Niyazi ATEŞ

%br

%div.row
  %div.span12
    %h4 
      %a(href="/kitap/101")İçindekiler <<<
    %br
    %h2 Bloklar ve Procs
    %br
    %br
    %br
    %h4 sayfa hazırlanıyor...
    %hr
    %h3
      %a.btn.btn-success.btn-large.pull-left(href="/kitap/112") < Sınıflar (Classes)
      %a.btn.btn-success.btn-large.pull-right(href="/kitap/114") Bu Derslerden Sonrası... >