-# coding: UTF-8

%div.row
  %div.span10
    %h1 Shoes
    %h3
      Green Shoes'un işi gücü bu pencereler içine pencereler ve birşeyler çizmek. 
      Şimdi pencerenin kendisine odaklanalım. 

  %div.span2
    = haml :gs_sidebar
%div.row
  %div.span12

    %hr
    %a.btn.btn-large.btn-success.pull-left(href="/kitap/203")
      %i.icon-backward.icon-white
      Green Shoes Kurulumu
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/205")
      Shoes
      %i.icon-forward.icon-white
