-# coding: UTF-8


%div.row
  %div.span10
    %h1 Green Shoes'a Giriş
    %h3
      Green Shoes OS X ve Linux'da nasıl görünür? Gerçekten tam gibi mi görünür? 
      Yoksa iğrenç çirkin mi? İnsanlar hemen merak ediyor! Bunu ancak herşeyi 
      yapmaya çalışarak öğrenebiliriz.
  %div.span2
    %form.form-search(action='/k_search' method='GET')
      %input(type="hidden" name="start" value="201")
      %input(type="hidden" name="end" value="238")
      %input.search-query(type="text" name="search_str" style="width: 70px;" placeholder="Ara")
      %button.btn(type="submit")
        %i.icon-search
    = haml :gs_sidebar
%div.row
  %div.span12
    %hr
    %h4 Çeviren : Ümit Kayacık
    %br
    %p 
      Pekala , Green Shoes'un nasıl kurulup çalıştırılacağından önce , size neler 
      yapabileceğinizi göstermek adına birkaç ekran görüntüsü bakalım.
    %h1 Mac OS X
    %p Green Shoes Apple Mac OSX10.5 PPC üzerinde X11 tarafından tanınır.
    %img.displayed(src="/sample3-osx.png")
    %p
      Buradaki 
      %code sample3.rb 
      dosyasının Mac OS X üzerindeki hali.
    %p
      Tüm daireler rastgele çizilmiştir. Green Shoes ile şekiller çizip , animasyon 
      yapabilirsiniz.
    %br
    
    %h1 Windows
    %p
      Green Shoes 
      %b Windows XP 
      ve 
      %b Windows7 
      de çalışır.
    %img.displayed(src="/sample33.png")
    %br
    
    %p
      Yukardaki resim windows7'de çalışan 
      %code sample33.rb 
      programı resmidir. Green Shoes chipmunk physics, bloopsaphone ve 
      3D texture mapping için üç gelişmiş kütüphaneye sahiptir. İlk ikisi binary 
      kütüphanelerdir ve sadece Windows'ta çalışır.
    %br
    
    %h1 Linux
    %p
      Burada 
      %b Ubuntu'
      da çalışan 
      %code sample44.rb 
      programını görüyorsunuz.
    %img.displayed(src="/sample44-linux.png")
    %br
    
    %p
      Bu örnekte de saati oluşturmak için çeşitli daireler ve çizgiler çizilmiştir. 
      Kendilerini defalarca çizip silerek animasyonu gerçekleştirirler.
    %p
      Uygulama penceresinin tepesindeki yazı tarih ve saati gösteriyor. Green Shoes 
      kelimeleri her şekil kalın, eğik, altı çizili ve renkte verebilir. Ayrıca yazı 
      fontlarını da kullanabilir.
    %hr
    %a.btn.btn-large.btn-success.pull-left(href="/kitap/201")
      %i.icon-backward.icon-white
      Merhaba
    %a.btn.btn-large.btn-success.pull-right(href="/kitap/203")
      Green Shoes Kurulumu
      %i.icon-forward.icon-white
