!!!  
%html  
  %head  
    %title Ruby Türkiye  
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %link(rel="stylesheet" href="assets/css/bootstrap.css")
    %link(rel="stylesheet" href="coderay.css")
    %link(rel="stylesheet" href="style.css")
  %body  
    %div.container
      = yield
    %div.footer
      %a(title="Niyazi Ateş" href="mailto:niyaziates77@gmail.com") Hazal 
      & 
      %a(title="Ümit Kayacık" href="mailto:ujk7107@gmail.com") Umitka