!!!  
%html  
  %head  
    %title Ruby Türkiye  
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %link(rel="stylesheet" href="/assets/css/bootstrap.css")
    %link(rel="stylesheet" href="/coderay.css")
    %link(rel="stylesheet" href="/style2.css")
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %div.nav-collapse
            %ul.nav
              %li 
                %a(href="/") Anasayfa
              %li 
                %a(href="/kitap/0") Kitap
              %li 
                %a(href="/contact") İletişim
              %li 
                %a(href="/about") Hakkımızda
              %li 
                %a(href="/bize_katilin") Bize Katılın
    %div.container
      = yield
    %div.footer
      %a(title="Niyazi Ateş" href="mailto:niyaziates77@gmail.com") Hazal 
      & 
      %a(title="Ümit Kayacık" href="mailto:ujk7107@gmail.com") Umitka